.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.viewer {
  width: 75%;
  height: 75%;
}

.App-header {
  background-color: #282c34;
  color: white;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
